<html>

<head>
  <style>
    #box {
      background: #e05415;
      color: #fff;
      padding: 15px;
      font-size: 20px;
    }
  </style>
</head>

<body>
  <div id="box">
    <h3>Google Authenticator dla Androida:</h3>
    <p><a
        href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=pl">https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=pl</a>
    </p>
    <h3>Google Authenticator dla IOS:</h3>
    <p><a
        href="https://apps.apple.com/app/google-authenticator/id388497605">https://apps.apple.com/app/google-authenticator/id388497605</a>
    </p>
  </div>

</body>

</html>